:root {
  --dark: #3797a4;
  --medium: #8bcdcd;
  --light: #e1eeee;
  --main-background: #f6f6f6;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto Regular"), url("roboto.woff") format("woff");
}

html,
body {
  margin: 0;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  height: 100%;
}

body {
  background-color: var(--main-background);
}

.layout-positioner {
  width: 75%;
  margin: 0 auto;
}

.layout-positioner::after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: var(--medium);
  height: 10%;
}

nav {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.logo {
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-actions {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}

.menu-log {
  display: flex;
  justify-content: flex-start;
}

.menu-item {
  display: block;
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 5px;
  padding: 5px;
}

.menu-item:hover {
  background: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 10px;
}

.active-button {
  background: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 10px;
}

main {
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  height: auto;
  padding: 20px;
}

.content-form {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.archive-content-form {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.form {
  padding: 20px;
  border: 5px solid var(--medium);
  border-radius: 10px;
  max-height: 60%;
}

.sign-form {
  display: flex;
  flex-direction: column;
}

.task-form {
  width: 50%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 5px solid var(--medium);
  border-radius: 10px;
}

.main-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
  padding: 0;
  min-height: 70%;
  max-height: 70%;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70%;
  max-height: 70%;
}

.matrix {
  display: grid;
  grid-template-rows: 1fr 5fr 5fr;
  height: 80%;
  height: 80%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  min-height: 100%;
  max-height: 100%;
}

.fieldset {
  overflow: auto;
  padding: 0;
  border: 2px solid var(--medium);
  border-radius: 10px;
  background-color: var(--light);
  margin: 5px;
}

.comment-fieldset {
  min-height: 40%;
  max-height: 40%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.archive-tasks {
  height: 40%;
  margin-bottom: 20px;
}

.arcive-fieldset {
  height: 100%;
}

.task-link {
  text-decoration: none;
  color: black;
}

.task {
  margin: 10px;
}

.label-input-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.label {
  margin: 0;
}

.total-group {
  display: flex;
  flex-direction: column;
}

.first-total-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.second-total-row {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.total {
  display: flex;
  margin: 5px;
}

.total-item {
  justify-self: end;
}

.label-number {
  align-self: center;
}

.number {
  background-color: var(--light);
  padding: 5px;
  border: 1px solid var(--medium);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.archive-head {
  font-size: 1.5rem;
}

.input {
  margin: 0;
  outline: none;
  border: 1px solid var(--dark);
  border-radius: 5px;
  padding: 5px;
}

textarea {
  resize: none;
}

.archive-head {
  margin-bottom: 10px;
}

.archive-date-group {
  display: flex;
  justify-content: space-between;
}

.date {
  margin: 10px;
}

.comment {
  margin: 10px;
}

.horizon-text {
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  padding: auto;
  font-size: 17px;
  color: var(--dark);
}

.vertical-text {
  transform: rotate(270deg);
  margin: auto;
  color: var(--dark);
  font-size: 17px;
}

.error {
  color: red;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-task-group {
  display: flex;
  flex-direction: column;
}

.archive-bytton-group {
  display: flex;
  justify-content: space-between;
}

.button {
  background: var(--medium);
  color: black;
  font-size: 15px;
  text-decoration: none;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid var(--dark);
  border-radius: 10px;
}

.button:hover {
  background: var(--dark);
}

.add-button {
  background: var(--medium);
  margin: auto;
  padding: 10px;
  font-size: 15px;
}

.archive-button {
  width: 20%;
}

.checkboxes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkbox {
  padding-right: 20px;
  padding-bottom: 10px;
}

footer {
  background-color: var(--medium);
  padding: 20px;
  height: 10%;
}

.copyright {
  text-align: right;
}
