:root {
  --dark: #3797A4;
  --medium: #8BCDCD;
  --light: #E1EEEE;
  --main-background: #F6F6F6;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto Regular"),
    url("roboto.woff") format("woff");
}

html,
body {
  margin: 0;
  font-size: 15px;
  font-family: "Arial", sans-serif;
  height: 100%
}

body {
  background-color: var(--main-background);
}

.layout-positioner {
  width: 75%;
  margin: 0 auto;
}

.layout-positioner::after {
  content: "";
  display: table;
  clear: both;
}

header {
  background-color: var(--medium);
  height: 10%;
}

nav {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.logo {
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-actions {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}

.menu-log {
  display: flex;
  justify-content: flex-start;
}

.menu-item {
  display: block;
  color: black;
  font-size: 18px;
  text-decoration: none;
  margin-right: 20px;
  margin-top: 5px;
  padding: 5px;
}

.menu-item:hover{
  background: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 10px;
}

.active-button {
  background: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 10px;
}

main {
  height: 80%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.content{
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
  height: auto;
  padding: 20px;
}

.content-form{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.form {
  padding: 20px;
  border: 5px solid var(--medium);
  border-radius: 10px;
}

.sign-form {
  display: flex;
  flex-direction: column;
}

.task-form {
  width: 50%;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 30px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.matrix {
  display: grid;
  grid-template-rows: 1fr 5fr 5fr;
  height: 80%;
  height: 80%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  min-height: 100%;
  max-height: 100%;
}

.fieldset {
  overflow: auto;
  padding: 0;
  border: 2px solid var(--medium);
  border-radius: 10px;
  background-color: var(--light);
  margin: 5px;
}

.task-link {
  text-decoration: none;
  color: black;
}

.task {
  margin: 10px;
}

.label {
  margin: 5px;
  margin-bottom: 0;
}

.input {
  margin: 10px;
  margin-top: 0;
}

.horizon-text {
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding: auto;
    font-size: 17px;
    color: var(--dark);
}

.vertical-text {
  transform: rotate(270deg);
  margin: auto;
  color: var(--dark);
  font-size: 17px;
}

.error {
  color: red;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button {
  background: var(--dark);
  color: black;
  font-size: 15px;
  text-decoration: none;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid var(--dark);
  border-radius: 10px;
}

.add-button {
  background: var(--medium);
  margin: auto;
  padding: 10px;
  font-size: 15px;
}

.checkboxes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkbox {
  padding-right: 20px;
}

footer {
  background-color: var(--medium);
  padding: 20px;
  height: 10%;
}

.copyright {
  text-align: right;
}
