<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My tasks</title>
    <link rel="shortcut icon" href="static\img\double-tick.png" type="image/x-icon">
    <link rel="stylesheet" href="static\style.css">
  </head>
  <body>
    <header>
      <div class="layout-positioner">
        <nav>
          <div class="logo">
            <a href="#"><img src="static\img\double-tick.png" alt="Logo"></a>
          </div>
          <div class="menu-actions">
            <a class="menu-item active-button" href="#">Active</a>
            <a class="menu-item" href="#">Archive</a>
            <a class="menu-item" href="#">Reports</a>
          </div>
          <div class="menu-log">
            <a class="menu-item" href="#">Sign Up</a>
            <a class="menu-item" href="#">Sign In</a>
            <a class="menu-item" href="#">Sign Out</a>
          </div>
        </nav>
      </div>
    </header>

    <main>
        <div class="layout-positioner">
          <div class="content-form">
            <div class="matrix">
              <div class="row">
                <button class="button add-button" type="button" name="add-button">Add new</button>
                <div class="horizon-text">Urgent</div>
                <div class="horizon-text">Not Urgent</div>
              </div>
              <div class="row">
                <div class="vertical-text">Important</div>
                <fieldset class="fieldset">
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                </fieldset>
                <fieldset class="fieldset">
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                </fieldset>
              </div>
              <div class="row">
                <div class="vertical-text">Not Important</div>
                <fieldset class="fieldset">
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                </fieldset>
                <fieldset class="fieldset">
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                  <a href="" class="task-link">
                    <div class="task">Task</div>
                  </a>
                </fieldset>
              </div>
            </div>
          </div>
        </div>
    </main>

    <footer>
      <div class="layout-positioner">
        <div class="copyright">
          © Olga Shebeko, 2021
        </div>
      </div>
    </footer>
  </body>
</html>
