<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My tasks</title>
    <link rel="shortcut icon" href="static\img\double-tick.png" type="image/x-icon">
    <link rel="stylesheet" href="static\style.css">
  </head>
  <body>
    <header>
      <div class="layout-positioner">
        <nav>
          <div class="logo">
            <a href="#"><img src="static\img\double-tick.png" alt="Logo"></a>
          </div>
          <div class="menu-actions">
            <a class="menu-item" href="{{ url_for('index') }}">My ToDo App</a>
            {% if user %}
            <a class="menu-item active-button" href="#">Active</a>
            <a class="menu-item" href="#">Archive</a>
            <a class="menu-item" href="#">Reports</a>
            {% endif %}
          </div>
          <div class="menu-log">
            {% if not user %}
            <a class="menu-item" href="{{ url_for('signup') }}">Sign Up</a>
            <a class="menu-item" href="{{ url_for('signin') }}">Sign In</a>
            {% endif %}
            {% if user %}
            <a class="menu-item" href="{{ url_for('signout') }}">Sign Out</a>
            {% endif %}
          </div>
        </nav>
      </div>
    </header>

    <main>
        <div class="layout-positioner">
          <div class="content-form">
            <div class="matrix">
              <div class="row">
                <button class="button add-button" type="button" name="add-button" onclick="NewTask();">Add new</button>
                <div class="horizon-text">Urgent</div>
                <div class="horizon-text">Not Urgent</div>
              </div>
              <div class="row">
                <div class="vertical-text">Important</div>
                <fieldset class="fieldset">
                  {% for task in tasks %}
                    {% if task.urgent == True and task.important == True %}
                      <a href="{{ url_for('update', task_id=task.task_id) }}" class="task-link">
                        <div class="task">{{ task.task_name }}</div>
                      </a>
                    {% endif %}
                  {% endfor %}
                </fieldset>
                <fieldset class="fieldset">
                  {% for task in tasks %}
                    {% if task.urgent == False and task.important == True %}
                      <a href="{{ url_for('update', task_id=task.task_id) }}" class="task-link">
                        <div class="task">{{ task.task_name }}</div>
                      </a>
                    {% endif %}
                  {% endfor %}
                </fieldset>
              </div>
              <div class="row">
                <div class="vertical-text">Not Important</div>
                <fieldset class="fieldset">
                  {% for task in tasks %}
                    {% if task.urgent == True and task.important == False %}
                      <a href="{{ url_for('update', task_id=task.task_id) }}" class="task-link">
                        <div class="task">{{ task.task_name }}</div>
                      </a>
                    {% endif %}
                  {% endfor %}
                </fieldset>
                <fieldset class="fieldset">
                  {% for task in tasks %}
                    {% if task.urgent == False and task.important == False %}
                      <a href="{{ url_for('update', task_id=task.task_id) }}" class="task-link">
                        <div class="task">{{ task.task_name }}</div>
                      </a>
                    {% endif %}
                  {% endfor %}
                </fieldset>
              </div>
            </div>
          </div>
        </div>
    </main>

    <footer>
      <div class="layout-positioner">
        <div class="copyright">
          © Olga Shebeko, 2021
        </div>
      </div>
    </footer>
  </body>
</html>

<script type="text/javascript">
  function NewTask() {
    window.location.href = "/new_task";
  }
</script>