<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update task</title>
    <link rel="shortcut icon" href="..\static\img\double-tick.png" type="image/x-icon">
    <link rel="stylesheet" href="..\static\style.css">
  </head>
  <body>
    <header>
      <div class="layout-positioner">
        <nav>
          <div class="logo">
            <a href="{{ url_for('index') }} "><img src="..\static\img\double-tick.png" alt="Logo"></a>
          </div>
          <div class="menu-actions">
            <a class="menu-item" href="{{ url_for('index') }}">My ToDo App</a>
            {% if user %}
            <a class="menu-item active-button" href="{{ url_for('my_tasks') }}">Active</a>
            <a class="menu-item" href="{{ url_for('archive') }}">Archive</a>
            <a class="menu-item" href="{{ url_for('reports') }}">Reports</a>
            {% endif %}
          </div>
          <div class="menu-log">
            {% if not user %}
            <a class="menu-item" href="{{ url_for('signup') }}">Sign Up</a>
            <a class="menu-item" href="{{ url_for('signin') }}">Sign In</a>
            {% endif %}
            {% if user %}
            <a class="menu-item" href="{{ url_for('signout') }}">Sign Out</a>
            {% endif %}
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="layout-positioner">
        <div class="content-form">
          <form class="form task-form" method="POST">
            <div class="main-bar">
              <div class="label-input-group">
                <label class="label" for="task">Task</label>
                <input class="input" type="text" name="task" id="task" value="{{ task.task_name }}" autofocus>
              </div>
              <fieldset class="fieldset comment-fieldset">
                <legend>Comments</legend>
                  {% for comment in comments %}
                    <div class="comment">{{ comment.comment }}</div>
                  {% endfor %}
              </fieldset>
              <div class="label-input-group">
                <label class="label" for="comment">Comment</label>
                <textarea class="input" rows="3" cols="40" name="comment" id="comment"></textarea>
              </div>
            </div>
            <div class="side-bar">
              <div class="checkboxes">
                <div class="checkbox">
                  <input type="checkbox" name="urgent" id="urgent" value="urgent" {% if task.urgent == True %} checked {% endif %}>
                  <label class="label" for="urgent">urgent</label>
                </div>
                <div class="checkbox">
                  <input type="checkbox" name="important" id="important" value="important" {% if task.important == True %} checked {% endif %}>
                  <label class="label" for="important">important</label>
                </div>
              </div>
              <div class="button-task-group">
                <input type="hidden" value="{{ task.task_id }}" id="task_value">
                <input class="button" type="submit" value="Update task">
                <input class="button" type="button" value="Mark as done" onclick="Done();">
                <input class="button" type="button" value="Delete" onclick="Delete();">
                <input class="button" type="button" value="Cancel" onclick="Cancel();">
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer>
      <div class="layout-positioner">
        <div class="copyright">
          © Olga Shebeko, 2021
        </div>
      </div>
    </footer>
  </body>
</html>

<script type="text/javascript">
  function Done() {
    var task_id = document.getElementById("task_value").value;
    window.location.href = "/proceed_done/" + task_id;
  }

  function Delete() {
    var task_id = document.getElementById("task_value").value;
    window.location.href = "/proceed_delete/" + task_id;
  }

  function Cancel() {
    window.location.href = "/my_tasks";
  }
</script>