<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Update task</title>
    <link rel="shortcut icon" href="static\img\double-tick.png" type="image/x-icon">
    <link rel="stylesheet" href="static\style.css">
  </head>
  <body>
    <header>
      <div class="layout-positioner">
        <nav>
          <div class="logo">
            <a href="#"><img src="static\img\double-tick.png" alt="Logo"></a>
          </div>
          <div class="menu-actions">
            <a class="menu-item active-button" href="#">Active</a>
            <a class="menu-item" href="#">Archive</a>
            <a class="menu-item" href="#">Reports</a>
          </div>
          <div class="menu-log">
            <a class="menu-item" href="#">Sign Up</a>
            <a class="menu-item" href="#">Sign In</a>
            <a class="menu-item" href="#">Sign Out</a>
          </div>
        </nav>
      </div>
    </header>

    <main>
        <div class="layout-positioner">
          <div class="content-form">
            <form class="form task-form">
              <div class="main-bar">
                <label class="label" for="task">Task</label>
                <input class="input" type="text" name="task" id="task" autofocus>
                <label class="label" for="comment">Comment</label>
                <textarea class="textarea" rows="5" cols="40" name="comment" id="comment"></textarea>
              </div>
              <div class="side-bar">
                <div class="checkboxes">
                  <div class="checkbox">
                    <input type="checkbox" name="urgent" id="urgent" value="urgent">
                    <label class="label" for="urgent">urgent</label>
                  </div>
                  <div class="checkbox">
                    <input type="checkbox" name="important" id="important" value="important">
                    <label class="label" for="important">important</label>
                  </div>
                </div>
                  <input class="button" type="submit" name="Update" value="Update task">
                  <input class="button" type="button" name="Mark" value="Mark as done">
                  <input class="button" type="button" name="Delete" value="Delete">
                  <input class="button" type="button" name="Cancel" value="Cancel">
              </div>
            </form>
          </div>
        </div>
    </main>

    <footer>
      <div class="layout-positioner">
        <div class="copyright">
          © Olga Shebeko, 2021
        </div>
      </div>
    </footer>
  </body>
</html>
